// color variable
$colorWhite: #ffffff;
$colorOffWhite: #e5e5e5;
$colorBlack: #000000;
$colorOffBlack: #2f2f2f;
$colorBlue: #6358dc;
$colorWarning: crimson;
$colorPrimaryBg: #4a3e68;
$colorSubPrimaryBg: #584b7c;
$colorPrimaryTxtBg: #eea681;
$colorSubPrimaryTxtBg: #4a3e68;
$colorBtn: #3ac2b3;
$colorIcon: #84bd00;

// font size
$fontSizeXm: 12px;
$fontSizeSm: 16px;
$fontSizeHead: 30px;

// shadow
$boxShadow: 0px 4px 15px rgba(0, 0, 0, 0.11);

// radius
$radiusCircle: 50%;
$radiusCommon: 8px;

// icon size
$iconWidthHeightSm: 25px;
$iconWidthHeightLg: 40px;
